.main-menu {
  box-sizing: border-box;
  height: 190px;
  width: 900px;
  margin: auto;
  padding-top: 75px;
  padding-left: 162px;
}
.main-menu-list {
  text-transform: uppercase;
  list-style: none;
}
.main-menu-item {
  display: inline-block;
}
.main-menu-item a {
  text-decoration: none;
  color: #626262;
}
.main-menu-item a:hover {
  color: #03a9f4;
}
.lifestyle {
  margin-right: 120px;
}
.photodiary {
  margin-right: 103px;
}
.music {
  margin-right: 95px;
}

section {
  width: 900px;
  margin: auto;
  margin-bottom: 134px;
  font-size: 0px;
}
.lifestyle-second-lifestyle {
  margin-bottom: 53px;
}
article:nth-child(even) {
  margin-right: 0px;
}
img {
  margin-bottom: 30px;
}
.section-name {
  font-family: "Ubuntu", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #b4ad9e;
  margin-bottom: 24px;
}
article {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
}
.article-head {
  font-family: "Playfair Display", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #626262;
  margin-bottom: 33px;
}
.article {
  font-size: 14px;
  font-family: "Playfair Display", "Arial", sans-serif;
  color: #626262;
  font-weight: 400;
  line-height: 24px;
}

button {
  display: block;
  margin: auto;
  margin-bottom: 70px;
  font-size: 20px;
  font-family: "Playfair Display", "Arial", sans-serif;

  font-weight: 400;
  line-height: 24px;
  height: 60px;
  width: 164px;
  box-sizing: 1px;
  background-color: #ffffff;
  border: solid #626262;
}
